<a href="https://colab.research.google.com/github/mekaviari37/Practice-Python/blob/main/Python_Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
bicycles = ['trek', 'cannondale', 'redline', 'specialized'] 
print(bicycles[0].title())

Trek

In [2]:
bicycles[-1]

'specialized'

In [3]:
motorcycles = ['honda','yamaha','suzuki']
print(motorcycles)

['honda', 'yamaha', 'suzuki']

In [4]:
motorcycles[0] = 'ducati' 
motorcycles

['ducati', 'yamaha', 'suzuki']

In [5]:
motorcycles.append('honda')

In [6]:
motorcycles

['ducati', 'yamaha', 'suzuki', 'honda']

In [7]:
motorcycles = [] 
motorcycles.append('honda') 
motorcycles.append('yamaha') 
motorcycles.append('suzuki') 
motorcycles

['honda', 'yamaha', 'suzuki']

In [14]:
motorcycles = ['honda','yamaha','suzuki']
list = [] 
for motorcycle in motorcycles:
  list.append(motorcycle)

print(list)

['honda', 'yamaha', 'suzuki']

In [10]:
magicians = ['alice', 'david', 'carolina']
for magician in magicians:
  print(magician)

alice
david
carolina

In [15]:
magicians = ['alice', 'david', 'carolina'] 
for magician in magicians:
  print(f"{magician.title()}, that was a great trick!")
  print(f"I can't wait to see your next trick, {magician.title()}.\n")

Alice, that was a great trick!
I can't wait to see your next trick, Alice.

David, that was a great trick!
I can't wait to see your next trick, David.

Carolina, that was a great trick!
I can't wait to see your next trick, Carolina.

In [17]:
magicians = ['alice', 'david', 'carolina'] 
for magician in magicians:
  print(magician.title(), "that was a great trick!")

Alice that was a great trick!
David that was a great trick!
Carolina that was a great trick!

In [19]:
import numpy as np
import pandas as pd

In [24]:
for value in range(1, 5):
  print(value)

1
2
3
4

In [28]:
list = []
for value in range(1, 5):
  list.append(value)
  print(list)

[1]
[1, 2]
[1, 2, 3]
[1, 2, 3, 4]

In [29]:
list

[1, 2, 3, 4]

In [35]:
list = []
for value in range(2, 11, 2):
  list.append(value)
  print(list)

[2]
[2, 4]
[2, 4, 6]
[2, 4, 6, 8]
[2, 4, 6, 8, 10]

In [36]:
list = []
for value in range(2, 11, 2):
  list = value
  print(list)

2
4
6
8
10

In [40]:
squares = []
for value in range(1, 11):
  square = value ** 2
  squares.append(square)
  print(squares)

[1]
[1, 4]
[1, 4, 9]
[1, 4, 9, 16]
[1, 4, 9, 16, 25]
[1, 4, 9, 16, 25, 36]
[1, 4, 9, 16, 25, 36, 49]
[1, 4, 9, 16, 25, 36, 49, 64]
[1, 4, 9, 16, 25, 36, 49, 64, 81]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [39]:
squares = []
for value in range(1, 11):
  squares = value ** 2
  print(squares)

1
4
9
16
25
36
49
64
81
100